<tbody>
    <tr>
        <td class="pt-3-half"><a href="/subscription">{{sub_name}}</a></td>
        <td class="pt-3-half">{{cancel_date}}</td>
        <td class="pt-3-half"><a href="/edit">Edit</a></td>
        <td>
        <span class="table-remove">
            <button type="button" class="btn btn-danger btn-rounded btn-sm my-0">
            Delete
            </button></span>
        </td>
    </tr>
</tbody>