<tbody>
    <tr>
        <td class="pt-3-half" contenteditable="true">{{sub_name}}</td>
        <td class="pt-3-half" contenteditable="true">{{cancel_date}}</td>
        <td class="pt-3-half" contenteditable="true"><a href="/edit">Edit</a></td>
        <td>
        <span class="table-remove">
            <button type="button" class="btn btn-danger btn-rounded btn-sm my-0">
            Delete
            </button></span>
        </td>
    </tr>
</tbody>