<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UNSUBHUB</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" 
    crossorigin="anonymous">
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
      integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
      integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../../public/css/style.css" />
    <link rel="stylesheet" href="../../public/css/jass.css" />
  </head>

  <body>
    <div class="jumbotron">
      <h1 class="display-4">UnsubHub</h1>
      <p class="lead">username</p>
      <hr class="my-4">
    </div>

      <ul class="list-group" class="usercard">
        <li class="list-group-item active">MANAGER</li>
        <li class="list-group-item active">${employee.name}
          <a>Cancel Date: </a>
          <a class="btn btn-primary btn-lg" href="#" role="button">Update</a>
          <a class="btn btn-primary btn-lg" href="#" role="button">Complete/Delete</a></li>
        <li class="list-group-item active">${employee.id}</li>
        <li class="list-group-item active">${employee.email}</li>
        <li class="list-group-item active">${employee.office}</li>
    </ul>

    <a class="btn btn-primary btn-lg" href="#" role="button">Update</a>
  </div>

    
  </body>
</html>