<header>
    <nav class="navbar navbar-light bg-primary">
        <a class="navbar-brand" href="/">
            <img src="images/UnsubHub-small.png" width="30" height="30" class="d-inline-block align-top" alt="UnsubHub logo">
                UnsubHub
        </a>
        <div style="text-align: center">
            <h1>Create A New Subscription Tracker</h1>
        </div>
        <section>
            {{#if logged_in}}
            <nav>
                <button class="btn" id="logout">Logout</button>
            </nav>
            {{/if}}
        </section>
    </nav> 
</header>
<main>
    <form class="new-subscription">
        <div class="form-group">
            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="subscription-name">
                <option selected>Select your subscription Service</option>
                <option>Netflix</option>
                <option>Amazon Prime</option>
                <option>Spotify</option>
                <option>Uber</option>
                <option>Disney+</option>
                <option>Hulu</option>
                <option>Hello Fresh</option>
                <option>Discord Nitro</option>
                <option>HBO Max</option>
                <option>Youtube TV</option>
                <option>Youtube Premium</option>
                <option>Apple Music</option>
                <option>Walmart+</option>
                <option>Instacart</option>
                <option>Chewy</option>
            </select>
        </div>
        <div style="text-align: center">
            <h3>Cancel By Date: <input id= "cancel-date" type="text" placeholder="MM/DD/YY"></h3>
        </div>
        <br>
        <div style="text-align: center">
            <button type="submit" class="btn btn-success btn-lg btn-block">Create Subscription Tracker!</button>
        </div>
    </form>
</main>

<script src="./js/subscription.js"></script>