    <header>
        {{!-- if logged in, show log out button --}}
        {{#if logged_in}}
        <nav>
        <button class="btn" id="logout">logout</button>
        </nav>
        {{/if}}
    </header>