<section class="h-100 gradient-form" style="background-color: rgb(34, 51, 81);">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">
<!-- added local image to VS code UnsubHub-logo -->
                <div class="text-center">
                  <img
                    src="/images/Unsub-Hub.png"
                    style="width: 185px;"
                    alt="UnsubHub logo"
                  />
                  <h4 class="mt-1 mb-5 pb-1">Help Us Save You Money</h4>
                </div>

                <form>
                  <p>Please login to your account</p>

                  <div class="form-outline mb-4">
                    <input
                      type="email"
                      id="form2Example11"
                      class="form-control"
                      placeholder="johndoe@example.com"
                    />
                    <label
                      class="form-label"
                      for="form2Example11"
                    >Email Address</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input
                      type="password"
                      id="form2Example22"
                      class="form-control"
                    />
                    <label
                      class="form-label"
                      for="form2Example22"
                    >Password</label>
                  </div>
<!-- changed button gradient to custom-1 -->
                  <div class="text-center pt-1 mb-5 pb-1">
                    <button
                      class="btn btn-primary btn-block fa-lg gradient-custom-1 mb-3"
                      type="button"
                      href="./UserHomepage.handlebars"
                    >Log in</button>
                  </div>
                  <div
                    class="d-flex align-items-center justify-content-center pb-4"
                  >
                  <p class="text-center text-muted mt-5 mb-0">Don't have an account? <a href="/register"
                    class="fw-bold text-body"><u>Register here</u></a></p>

                </form>

              </div>
            </div>
            <div
              class="col-lg-6 d-flex align-items-center gradient-custom-2"
            >
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">We are more than just a company</h4>
                <p class="small mb-0">Lorem ipsum dolor sit amet,
                  consectetur adipisicing elit, sed do eiusmod tempor
                  incididunt ut labore et dolore magna aliqua. Ut enim ad
                  minim veniam, quis nostrud exercitation ullamco laboris
                  nisi ut aliquip ex ea commodo consequat.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">login</button>
  </div>
</form>

<script src="/js/login.js"></script>