<header>
    <nav class="navbar navbar-light bg-primary">
        <a class="navbar-brand" href="/homepage">
            <img src="images/Unsub-Hub.png" width="30" height="30" class="d-inline-block align-top" alt="UnsubHub logo">
                UnsubHub
        </a>
        <div style="text-align: center">
            {{user_name}}'s Subscriptions
        </div>
        <section>
            {{#if logged_in}}
            <nav>
                <button class="btn" id="logout">Logout</button>
            </nav>
            {{/if}}
        </section>
    </nav> 
</header>
<main>
    {{!-- Subsrcription Page that displays to homepage --}}
    <section>
    {{!-- Subscription title with link to sub page --}}
    <a href=" Insert URL to get to  sub page card //{{id}}">
    <h1>{{sub_name}}</h1>
    </a>

    {{!-- Cancel Date --}}
    <div> 
        <h3>{{Cancel_Date}}</h3>
    </div>

    {{!-- Edit (update request) --}}
    <div>
        {{!-- insert URL to get to subscription edit page --}}
        <a href="#"
        <p>EditBtn</p>
        </a>
    </div>

    {{!-- Complete (Delete Request) --}}
    <div>
        {{!-- Insert Delete subscription card --}}
    </div>
    </section>
</main>