{{!-- Subsrcription Page that displays to homepage --}}
<section>
{{!-- Subscription title with link to sub page --}}
<a href=" Insert URL to get to  sub page card //{{id}}">
<h3>{{sub_name}}</h3>
</a>

{{!-- Cancel Date --}}
<div> 
    <h3>{{Cancel_Date}}</h3>
</div>

{{!-- Edit (update request) --}}
<div>
    {{!-- insert URL to get to subscription edit page --}}
    <a href="#"
    <p>EditBtn</p>
    </a>
</div>

{{!-- Complete (Delete Request) --}}
<div>
    {{!-- Insert Delete subscription card --}}
</div>
</section>
