<header>
    <nav class="navbar navbar-light bg-primary">
        <a class="navbar-brand" href="/">
            <img src="images/UnsubHub-small.png" width="30" height="30" class="d-inline-block align-top" alt="UnsubHub logo">
            UnsubHub
        </a>
        <div style="text-align: center">
            <h1>{{sub_name}} Tracker Information</h1>
        </div>
        <section>
            {{#if logged_in}}
            <nav>
                <button class="btn" id="logout">Logout</button>
            </nav>
            {{/if}}
        </section>
    </nav> 
</header>
<main style="text-align: center">
    <section>
    <h1>{{sub_name}}</h1>
    <br>
    {{!-- Cancel Date --}}
    <div> 
        <h3>Cancel By: {{cancel_date}}</h3>
    </div>
    <br>
    {{!-- link to your calendar --}}
    <div class="calendarLink">
        <button type="submit" class="btn btn-secondary">Link To Your Calendar!</button>
    </div>
    <br>
    {{!-- How to unsub --}}
    <div>
        <h3><a href="https://help.netflix.com/en/node/407">How to Unsubscribe from {{sub_name}}</a></h3>
    </div>
    </section>
</main>

<script src="./js/calendar.js"></script>